<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <h1> Blog </h1>

  {% include 'common/nav.html' %}

  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel"
       aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-in-alt"></i>&nbsp Log In</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                          <button type="button" class="btn btn-outline-dark btn-block btn-sm "><i class="fab fa-google"></i>&nbsp&nbsp Log in with Google</button>
                          <button type="button" class="btn btn-outline-dark btn-block btn-sm "><i class="far fa-envelope"></i>&nbsp&nbsp Log in with E-mail</button>
                      </div>
                      <div class="col-md-6">
                          <button type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</button>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>


  <div class="container my-3">
      <div class="row">
          <div class="col-md-8 col-lg-9" id="main-area">
              <h1>Blog</h1>

              {% if post_list.exists %}
                  {% for p in post_list %}
                      <!-- Blog Post -->
                      <div class="card mb-4">
                      {% if p.thumbnail %}
                          <img class="card-img-top" src="{{ p.thumbnail.url }}" alt="thumbnail">
                      {% endif %}
                          <div class="card-body">
                              <h2 class="card-title">{{ p.title }}</h2>

                              {% if p.hook_text %}
                                  <h5 class="text-muted"> {{ p.hook_text }} </h5>
                              {% endif %}

                              <p class="card-text">{{ p.content | truncatewords:45}}</p>
                              <a href="/blog/{{ p.pk }}" class="btn btn-primary">Read More &rarr;</a>
                          </div>
                          <div class="card-footer text-muted">
                              Posted on {{ p.created_at}} by
                              <a href="#">작성자명 쓸 위치(개발예정)</a>
                          </div>
                      </div>
                  {% endfor %}
              {% else %}
                  <h1> 게시글이 없습니다 </h1>
              {% endif %}


              <!-- Pagination -->
              <ul class="pagination justify-content-center mb-4">
                  <li class="page-item">
                      <a class="page-link" href="#">&larr; Older</a>
                  </li>
                  <li class="page-item disabled">
                      <a class="page-link" href="#">Newer &rarr;</a>
                  </li>
              </ul>

          </div>

          <div class="col-md-4 col-lg-3">
              <!-- Search Widget -->
              {% include 'common/search_widget.html' %}

              <!-- Categories Widget -->
              {% include 'common/category.html' %}
          </div>
      </div>
  </div>

  <!-- Footer -->
  {% include 'common/footer.html' %}


</body>
</html>