<div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0" id="categorys">
                    {% for c in categorys %}
                    <li>
                        <a href="/blog/category/{{ c.slug }}">{{ c.name }} ( {{ c.post_set.count }} )</a>
                                            <!-- 역참조 문법 : *_set -->
                    </li>
                    {% endfor %}
                    <li>
                        <a href="/blog/category/none">None ( {{ no_category_post_count }} )</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>